.movie__detail {
  background-size: cover;
}
.row > .col-sm-4.offset-sm-8 {
  background: rgb(31 31 31 / 80%);
  color: white;
}
.vote_average {
  font-weight: 900;
  font-size: 3rem;
}
span.point {
  font-size: 0.9rem;
}

.movie__overview {
  color: #b5b8a0;
  line-height: 1.2;
}
.labores {
  font-size: 0.85rem;
  line-height: 1.7;
}
.labores > strong {
  font-weight: 600;
}
.container > .row {
  position: relative;
}
.title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 5px black;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buy-container {
  background: rgb(31 31 31 / 80%);
}
.buy-btn {
  background-color: #ffdb57 !important;
  width: 170px;
  font-weight: 600;
  color: #322f21;
  transition: all 250ms ease-in-out;
}
.buy-btn i {
  background: #e4bf3d;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}
.buy-btn:hover {
  background-color: #e4bf3d !important;
}
.statistic > .d-flex {
  font-size: 0.9rem;
}
.statistic > .d-flex > strong {
  font-weight: 600;
}
