.row > * {
  padding-bottom: calc(var(--bs-gutter-x) / 2);
  padding-top: calc(var(--bs-gutter-x) / 2);
}
.card {
  border: 0;
}
.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0.4rem);
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
